body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  position: relative;
  color: black;
  background: white;
  font-family: "Comic Sans MS";
  font-size: 100%;
  font-weight: 400;
}
.hello {
  color: black;
}
.text {
  max-width: 400px;
  margin-left: -200px;
  margin-top: -140px;
  left: 50%;
  top: 50%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
}
.score{
    position:absolute;
    margin-left: -150px;
    width: 300px;
    bottom:0px;
    right:50%;
    left:50%
}
.loading {
    max-width: 800px;
    margin-left: -400px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
    position: absolute;
    line-height: 1.2;
    color: #b9ed77;
    font-size: 100px;
    visibility: visible;
    text-shadow: 1px 1px #85d044;
  }
#died{
  color: #bb242d;
}
#score{
  color: #34cd30;
}
#info{
  color: #ba5252;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  width: 700px;
  left: 50%;
  margin-left: -350px;
  font-weight: bold;
  text-align: center;
}
#copyright{
  color: #039d05;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#counter{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
a {
  color: #0040ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  padding: 0px;
  text-align: center;
}
li {
  display: inline-block;
}
li:after {
  content: " |";
}
li:last-child:after {
    content: "";
}
.play {
  text-align: right;
}
#canvas{
  background-color: #edd6f2
}
