body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
    color: black;
    background: white;
    font-family: "Comic Sans MS";
    font-size: 100%;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hello {
    color: black;
}

.loading {
    max-width: 800px;
    margin-left: -400px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
    position: absolute;
    line-height: 1.2;
    color: #b9ed77;
    font-size: 100px;
    visibility: visible;
    text-shadow: 1px 1px #85d044;
  }
.text {
    max-width: 400px;
    margin-left: -200px;
    margin-top: -140px;
    left: 50%;
    bottom: 20px;
    position: absolute;
    text-shadow: 0px 0px 20px white;
    line-height: 1.2;
}
#counter{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.score {
    position: absolute;
    margin-left: -150px;
    width: 300px;
    top: 0px;
    right: 50%;
    left: 50%
}

#info{
  color: #835700;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  font-weight: bold;
  text-align: center;
}
#copyright{
  color: #000000;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#score {
    color: #cd3085;
}

#canvas {
    background-color: #ffbf00;
}

a {
    color: #cc00ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0px;
    text-align: center;
}

li {
    display: inline-block;
}

li:after {
    content: " |";
}

li:last-child:after {
    content: "";
}

.play {
    text-align: right;
}
